<div class="admin__nav">
    <div class="admin__left">
        <h2 class="admin__title">Dilçi</h2>
        <a href="/main" class="admin__burger">
            <img src="/img/centered-justification 1.png">
        </a>
    </div>
    <div class="admin__center">
        <input class="admin__search" type="text" name="search" placeholder="Search">
        <div class="admin__search-icon">
            <img src="/img/loupe 1.png">
        </div>
    </div>
    <a href="/admin/settings" class="admin__profile">
        <div class="admin__profile-img">
            <img src="/img/user2.png">
        </div>
        <h2 class="admin__name">H3MRX</h2>
    </a>
</div>