<div class="admin__sidebar">
    <div class="admin__list">
        <div class="admin__item">
            <a href="/admin" class="item__img">
                <img src="/img/home-sign 1.png">
            </a>
            <a href="/admin" class="item__title">Baş sahypa<a>
        </div>
        <div class="admin__item">
            <a href="/admin/langs" class="item__img">
                <img src="/img/world-wide-web.png">
            </a>
            <a href="/admin/langs" class="item__title">Diller</a>
        </div>
        <div class="admin__item">
            <a href="/admin/users" class="item__img">
                <img src="/img/stick-man 1.png">
            </a>
            <a href="/admin/users" class="item__title">Ulanyjylar</a>
        </div>
        <div class="admin__item">
            <a href="/admin/notifications" class="item__img">
                <img src="/img/turn-notifications-on-button 1.png">
            </a>
            <a href="/admin/notifications" class="item__title">Bildiriş goş<a>
        </div>
        <div class="admin__item">
            <a href="/admin/messages" class="item__img">
                <img src="/img/email 2.png">
            </a>
            <a href="/admin/messages" class="item__title">Gelen hatlar<a>
        </div>
        <div class="admin__item">
            <a href="/admin/search" class="item__img">
                <img src="/img/loupe 1.png">
            </a>
            <a href="/admin/search" class="item__title">Gözleg</a>
        </div>
    </div>
</div>