<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.messages.css">
    <title>Admin | Messages</title>
</head>

<body>
    <div class="wrapper">
        <div class="admin">
            <%- include('./includes/navbar') %>
            <div class="admin__container">
                <%- include('./includes/sidebar') %>
                <div class="admin__main">
                    <div class="admin__boxes">
                        <% if (messages) { %>
                            <% messages.forEach(item => { %>
                                <div class="admin__box">
                                    <div class="admin__top">
                                        <div class="admin__left">
                                            <div class="admin__id"><%= item.user.id %></div>
                                            <div class="admin__profile">
                                                <img src="/img/<%= item.user.image %>">
                                            </div>
                                            <div class="admin__email">
                                                <%= item.email %>
                                            </div>
                                        </div>
                                        <div class="admin__right">
                                            <div class="admin__button">
                                                <img src="/img/Polygon 3.svg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="admin__bottom">
                                        <div class="admin__desc">
                                            <%= item.message %>
                                        </div>
                                        <a href="/admin/delete/contact/<%= item.id %>" class="admin__img">
                                            <img src="/img/garbage (1) 1.png">
                                        </a>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>