<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.users.css">
    <title>Admin | Users</title>
</head>

<body>
    <div class="wrapper">
        <div class="admin">
            <%- include('./includes/navbar') %>
            <div class="admin__container">
                <%- include('./includes/sidebar') %>
                <div class="admin__main">
                    <div class="admin__boxes">
                        <table class="admin__table-users">
                            <thead>
                                <tr class="table__row">
                                    <th class="table__desc">Id</th>
                                    <th class="table__desc">Surat</th>
                                    <th class="table__desc">Ulanyjy ady</th>
                                    <th class="table__desc">Öwrenýän dili</th>
                                    <th class="table__desc">Liga</th>
                                    <th class="table__desc">Ball</th>
                                    <th class="table__desc">Aktiw</th>
                                    <th class="table__desc">Düzet</th>
                                    <th class="table__desc">Poz</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(item => { %>
                                    <tr class="table__row">
                                        <td class="table__desc"><%= item.user.id %></td>
                                        <td class="table__desc">
                                            <div class="table__user">
                                                <img src="/img/<%= item.user.image %>">
                                            </div>
                                        </td>
                                        <td class="table__desc"><%= item.user.username %></td>
                                        <td class="table__desc"><%= item.language.name %></td>
                                        <td class="table__desc">
                                            <select class="table__desc" name="">
                                                <option value=""><%= item.level.name %></option>
                                            </select>
                                        </td>
                                        <td class="table__desc"><%= item.point %></td>
                                        <td class="table__desc">
                                            <div class="<%= item.user.isActive %>"></div>
                                        </td>
                                        <td class="table__desc">
                                            <a href="#" class="table__img">
                                                <img src="/img/pen 1.png">
                                            </a>
                                        </td>
                                        <td class="table__desc">
                                            <a href="/admin/delete/user/<%= item.user.id %>" class="table__img">
                                                <img src="/img/garbage (1) 1.png">
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/delete.js"></script>
</body>

</html>