<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.home.css">
    <title>Admin | Home</title>
</head>

<body>
    <div class="wrapper">
        <div class="admin">
            <%- include('./includes/navbar') %>
            <div class="admin__container">
                <%- include('./includes/sidebar') %>
                <div class="admin__main">
                    <div class="admin__boxes">
                        <a href="/admin/users" class="admin__box red">
                            <div class="box__top">
                                <div class="box__img">
                                    <img src="/img/multiple-users-silhouette (1) 1.png">
                                </div>
                                <div class="box__number">+<%= users_count %></div>
                            </div>
                            <div class="box__title">Ulanyjylar</div>
                        </a>
                        <a href="/admin/langs" class="admin__box aqua">
                            <div class="box__top">
                                <div class="box__img">
                                    <img src="/img/world-wide-web.png">
                                </div>
                                <div class="box__number">+<%= lang_count %></div>
                            </div>
                            <div class="box__title">Diller</div>
                        </a>
                        <a href="/admin/langs" class="admin__box coral">
                            <div class="box__top">
                                <div class="box__img">
                                    <img src="/img/report.png">
                                </div>
                                <div class="box__number">+<%= word_count %></div>
                            </div>
                            <div class="box__title">Sözler</div>
                        </a>
                    </div>
                    <div class="admin__boxes">
                        <table class="admin__table-langs">
                            <thead>
                                <tr class="table__row">
                                    <th class="table__desc">T/b</th>
                                    <th class="table__desc">Dil</th>
                                    <th class="table__desc">Sözler</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let count = 0 %>
                                <% lang_words.forEach(item => { %>
                                    <tr class="table__row">
                                        <td class="table__desc"><%= count + 1 %></td>
                                        <td class="table__desc"><%= item.dataValues.language_name %></td>
                                        <td class="table__desc"><%= item.dataValues.word_count %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <div class="admin__statistic"></div>
                    </div>
                    <div class="admin__boxes">
                        <table class="admin__table-users">
                            <thead>
                                <tr class="table__row">
                                    <th class="table__desc">Id</th>
                                    <th class="table__desc">Surat</th>
                                    <th class="table__desc">Ulanyjy ady</th>
                                    <th class="table__desc">E-poçta salgysy</th>
                                    <th class="table__desc">Telefon belgisi</th>
                                    <th class="table__desc">Aktiwlik</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(item => { %>
                                    <tr class="table__row">
                                        <td class="table__desc"><%= item.id %></td>
                                        <td class="table__desc">
                                            <div class="table__img">
                                                <img src="/img/<%= item.image %>">
                                            </div>
                                        </td>
                                        <td class="table__desc"><%= item.username %></td>
                                        <td class="table__desc"><%= item.email %></td>
                                        <td class="table__desc"><%= item.phone %></td>
                                        <td class="table__desc">
                                            <div class="<%= item.isActive %>"></div>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>