<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.search.css">
    <title>Admin | Add Notifications</title>
</head>

<body>
    <div class="wrapper">
        <div class="admin">
            <%- include('./includes/navbar') %>
            <div class="admin__container">
                <%- include('./includes/sidebar') %>
                <div class="admin__main">
                    <div class="admin__boxes">
                        <div class="admin__box">
                            Run - [ ran ] - ylgamak
                        </div>
                        <div class="admin__box">
                            Koşmak - [ko'şmak] - ylgamak 
                        </div>
                        <div class="admin__box">
                            1 Ylgay Durdyyew
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>