<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.addnotf.css">
    <title>Admin | Add Notifications</title>
</head>

<body>
    <div class="wrapper">
        <div class="admin">
            <%- include('./includes/navbar') %>
            <div class="admin__container">
                <%- include('./includes/sidebar') %>
                <div class="admin__main">
                    <form class="admin__form" action="/admin/notifications" method="post">
                        <textarea class="admin__text" name="message" cols="75" rows="10" placeholder="Ýazylmaly bildirişleriň mowzugy"></textarea>
                        <div class="admin__buttons">
                            <select class="admin__button" name="languageId">
                                <option class="admin__button" value="null">------</option>
                                <% languages.forEach(item => { %>
                                    <option class="admin__button" value="<%= item.id %>"><%= item.name %></option>
                                <% }) %>
                            </select>
                            <select class="admin__button" name="levelId">
                                <option value="null">------</option>
                                <% levels.forEach(item => { %>
                                    <option class="admin__button" value="<%= item.id %>"><%= item.name %></option>
                                <% }) %>
                            </select>
                            <button class="admin__button" type="submit">Goşmak</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>