<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.langs.css">
    <title>Admin | Languages</title>
</head>

<body>
    <div class="wrapper">
        <div class="admin">
            <%- include('./includes/navbar') %>
                <div class="admin__container">
                    <%- include('./includes/sidebar') %>
                        <div class="admin__main">
                            <div class="admin__boxes">
                                <div class="admin__box">
                                    <div class="box__table">
                                        <table class="admin__table red">
                                            <thead>
                                                <tr>
                                                    <th class="table__desc">Id</th>
                                                    <th class="table__desc">Suraty</th>
                                                    <th class="table__desc">Dil</th>
                                                    <th class="table__desc">Poz</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table__body">
                                                <% langs.forEach(item=> { %>
                                                    <tr class="table__row">
                                                        <td class="table__desc">
                                                            <%= item.id %>
                                                        </td>
                                                        <td class="table__desc">
                                                            <div class="table__icon">
                                                                <img src="/img/<%= item.image %>">
                                                            </div>
                                                        </td>
                                                        <td class="table__desc">
                                                            <%= item.name %>
                                                        </td>
                                                        <td class="table__desc">
                                                            <a class="table__img" href="/admin/delete/lang/<%= item.id %>">
                                                                <img src="/img/garbage (1) 1.png">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <form class="admin__form" action="/admin/langs" method="post"
                                        enctype="multipart/form-data">
                                        <input class="admin__input red" type="text" name="name" placeholder="Täze dil">
                                        <input class="admin__input red" type="file" name="image">
                                        <button class="admin__button red" type="submit">+</button>
                                    </form>
                                </div>
                                <div class="admin__box">
                                    <div class="box__table">
                                        <table class="admin__table aqua">
                                            <thead>
                                                <tr>
                                                    <th class="table__desc">Id</th>
                                                    <th class="table__desc">Sözler</th>
                                                    <th class="table__desc">Pozmak</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table__body">
                                                <% turkmen_words.forEach(item => { %>
                                                    <tr class="table__row">
                                                        <td class="table__desc"><%= item.id %></td>
                                                        <td class="table__desc"><%= item.word %></td>
                                                        <td>
                                                            <a class="table__img" href="/admin/delete/turkmen_word/<%= item.id %>">
                                                                <img src="/img/garbage (1) 1.png">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <form class="admin__form" action="/admin/langs/turkmen/words" method="post">
                                        <input class="admin__input aqua" type="text" name="word" placeholder="Türkmençe söz">
                                        <button class="admin__button aqua" type="submit">+</button>
                                    </form>
                                </div>
                                <div class="admin__box">
                                    <div class="box__table">
                                        <table class="admin__table coral">
                                            <thead>
                                                <tr>
                                                    <th class="table__desc">Id</th>
                                                    <th class="table__desc">Liga</th>
                                                    <th class="table__desc">Sözler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% level_words.forEach(item => { %>
                                                    <tr>
                                                        <td class="table__desc"><%= item.dataValues.level_id %></td>
                                                        <td class="table__desc"><%= item.dataValues.level_name %></td>
                                                        <td class="table__desc"><%= item.dataValues.word_count %></td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <form class="admin__form" action="" method="get">
                                        <select class="admin__input coral" name="">
                                            <% langs.forEach(item => { %>
                                                <option class="admin__input" value="<%= item.id %>"><%= item.name %></option>
                                            <% }) %>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="admin__words">
                                <div class="box__table">
                                    <table class="admin__table-users green">
                                        <thead>
                                            <tr class="table__row">
                                                <th class="table__desc">Id</th>
                                                <th class="table__desc">Sözler</th>
                                                <th class="table__desc">[Transcription]</th>
                                                <th class="table__desc">Terjimesi</th>
                                                <th class="table__desc">Ball</th>
                                                <th class="table__desc">Dil</th>
                                                <th class="table__desc">Liga</th>
                                                <th class="table__desc">Düzet</th>
                                                <th class="table__desc">Poz</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% words.forEach(item => { %>
                                                <tr class="table__row">
                                                    <td class="table__desc"><%= item.id %></td>
                                                    <td class="table__desc"><%= item.word %></td>
                                                    <td class="table__desc"><%= item.transcription %></td>
                                                    <td class="table__desc"><%= item.turkmen_word.word %></td>
                                                    <td class="table__desc"><%= item.point %></td>
                                                    <td class="table__desc">
                                                        <div class="table__icon">
                                                            <img src="/img/<%= item.language.image %>">        
                                                        </div>
                                                    </td>
                                                    <td class="table__desc"><%= item.level.name %></td>
                                                    <td class="table__desc">
                                                        <a class="table__img" href="/admin/update/word/">
                                                            <img src="/img/pen 1.png">
                                                        </a>
                                                    </td>
                                                    <td class="table__desc">
                                                        <a class="table__img" href="/admin/delete/word/<%= item.id %>">
                                                            <img src="/img/garbage (1) 1.png">
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                <form class="admin__form" action="/admin/langs/add/words" method="post">
                                    <input class="admin__input green" type="text" name="word" placeholder="word">
                                    <input class="admin__input green" type="text" name="transcription" placeholder="[wərd]">
                                    <input class="admin__input green" type="number" min="1" name="terjime" placeholder="söz id">
                                    <input class="admin__input green" type="number" min="1" name="ball" placeholder="ball">
                                    <select class="admin__input green" name="language">
                                        <% langs.forEach(item => { %>
                                            <option class="admin__input" value="<%= item.id %>"><%= item.name %></option>
                                        <% }) %>
                                    </select>
                                    <select class="admin__input green" name="level">
                                        <% levels.forEach(item => { %>
                                            <option class="admin__input" value="<%= item.id %>"><%= item.name %></option>
                                        <% }) %>
                                    </select>
                                    <button class="admin__button green" type="submit">+</button>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</body>

</html>