<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.settings.css">
    <title>Admin | Settings</title>
</head>

<body>
    <div class="wrapper">
        <div class="admin">
            <%- include('./includes/navbar') %>
            <div class="admin__container">
                <%- include('./includes/sidebar') %>
                <div class="admin__main">
                    <div class="admin__profiles">
                        <div class="admin__user">
                            <div class="admin__img">
                                <img src="/img/user2.png">
                            </div>
                            <div class="admin__name">H3MRX</div>
                        </div>
                        <form class="admin__info" action="/admin/update/admin" method="post">
                            <select class="admin__input" name="oldUsername">
                                <option class="admin__input" value="">Babageldi</option>
                            </select>
                            <input class="admin__input" type="text" name="newUsername" placeholder="Ulanyjy ady">
                            <input class="admin__input" type="text" name="phone" placeholder="Telefon belgisi">
                            <input class="admin__input" type="email" name="email" placeholder="E-poçta salgysy">
                            <input class="admin__input" type="password" name="password" placeholder="Paroly">
                            <button class="admin__button" type="submit">Düzetmek</button>
                        </form>
                    </div>
                    <table class="admin__table-users">
                        <thead>
                            <tr class="table__row">
                                <th class="table__desc">Id</th>
                                <th class="table__desc">Admin</th>
                                <th class="table__desc">Telefon belgisi</th>
                                <th class="table__desc">E-poçta salgysy</th>
                                <th class="table__desc">Aktiwlik</th>
                                <th class="table__desc">Düzet</th>
                                <th class="table__desc">Poz</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table__row">
                                <td class="table__desc">1</td>
                                <td class="table__desc">meredow03</td>
                                <td class="table__desc">+993 63 342313</td>
                                <td class="table__desc">mrxyok138@gmail.com</td>
                                <td class="table__desc">
                                    <div class="true"></div>
                                </td>
                                <td class="table__desc">
                                    <a href="#" class="table__img">
                                        <img src="/img/pen 1.png">
                                    </a>
                                </td>
                                <td class="table__desc">
                                    <a href="#" class="table__img">
                                        <img src="/img/garbage (1) 1.png">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form class="admin__form" action="/admin/add/admin" method="post">
                        <input class="admin__add" type="text" name="username" placeholder="Username">
                        <input class="admin__add" type="password" name="password" placeholder="Password">
                        <input class="admin__add" type="text" name="phone" placeholder="Phone number">
                        <input class="admin__add" type="email" name="email" placeholder="Email">
                        <button class="admin__add-button" type="submit">Goşmak</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>