<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/contact.css">
    <title>Habarlaşmak</title>
</head>

<body>
    <div class="wrapper">
        <div class="contact">
            <a href="/main" class="contact__prev">
                <img src="./img/cancel logo.png">
            </a>
            <h2 class="contact__title">Habarlaşmak</h2>
            <form action="/contact" class="contact__form" method="post">
                <input class="contact__input" type="text" name="username" placeholder="Ulanyjy ady">
                <input class="contact__input" type="email" name="email" placeholder="E-mail salgy">
                <textarea class="contact__input" name="text" cols="30" rows="6" placeholder="Mowzuk ..."></textarea>
                <button class="contact__button" type="submit">Ugrat</button>
            </form>
        </div>
    </div>
</body>

</html>