<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/game.css">
    <title>Oýun</title>
</head>

<body>
    <div class="wrapper">
        <div class="game">
            <div class="game__nav">
                <h2 class="game__title">Dilçi</h2>
                <p class="game__time" id="time"></p>
            </div>
            <div class="game__center">
                <div class="game__word"><%= turkmen_word.word %></div>
                <div class="game__links">
                    <% random_items.forEach(item => { %>
                        <a href="/game/reply/q?answer=<%= item.id %>&result=<%= turkmen_word.id %>&page=<%= page %>" class="game__link"><%= item.word %></a>
                    <% }) %>
                </div>
                <a href="/game/reply/q?answer=-1&page=<%= page %>" class="game__next">Geçmek</a>
            </div>
        </div>
    </div>
    <script src="/js/game.js"></script>
</body>

</html>