<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Dilçi</title>
</head>

<body>
    <div class="wrapper">
        <div class="signin">
            <div class="signin__center">
                <div class="signin__title">Dilçi</div>
                <div class="signin__logo">
                    <img src="/img/logo dil ot.png" alt="logo">
                </div>
                <div class="sigin__desc">
                    Adamyň akyllysy dil öwrener
                </div>
            </div>
            <a href="/login" class="siginin__button">Agza bol</a>
        </div>
    </div>
</body>

</html>