<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/language.css">
    <title>Dil saýlamak</title>
</head>

<body>
    <div class="wrapper">
        <div class="language">
            <h2 class="language__title">Dil saýlamak</h2>
            <div class="language__list">
                <% langs.forEach(item=> { %>
                    <a href="/langs/<%= item.id %>" class="language__item">
                        <div class="language__img">
                            <img src="/img/<%= item.image %>">
                        </div>
                        <div class="language__name">
                            <%= item.name %>
                        </div>
                    </a>
                <% }) %>
            </div>
            <a href="/main" class="language__prev">Yza dolan</a>
        </div>
    </div>
</body>

</html>