<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="login">
            <div class="login__center">
                <div class="login__title">Dilçi</div>
                <form class="login__form" action="/login" method="post">
                    <input class="login__input" type="text" name="username" placeholder="Ulanyjy adyňyz">
                    <input class="login__input" type="password" name="password" placeholder="Parolyňyz">
                    <p class="login__desc">Agza bolmak üçin <a class="login__link" href="/register">ulgama giriň!</a></p>
                    <button class="login__submit" type="submit">Ulgama gir</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>