<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Baş sahypa</title>
</head>

<body>
    <div class="wrapper">
        <div class="main">
            <% if (user) { %>
                <div class="main__nav">
                    <a href="/user" class="main__left">
                        <img class="radius" src="/img/<%= user.image %>" alt="user">
                    </a>
                    <div class="main__right">
                        <a href="/notifications" class="main__notf">
                            <img src="/img/alarm 1.png" alt="notf">
                        </a>
                        <a href="/settings" class="main__settings">
                            <img src="./img/settings 1.png" alt="settings">
                        </a>
                    </div>
                </div>
                <div class="main__center">
                    <div class="main__title">Dilçi</div>
                    <div class="main__links">
                        <a href="/game/1" class="main__link">Adaty oýun</a>
                        <p class="link__desc">wagt boýunça ýaryşyň</p>
                        <a href="/game/2" class="main__link">Bäsleşik</a>
                        <p class="link__desc">garşydaşlaryňyz bilen ýaryşyň</p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <script src="/js/online.js"></script>
</body>

</html>