<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <title>Bildirişler</title>
</head>

<body>
    <div class="wrapper">
        <div class="notifications">
            <h2 class="notifications__title">Bildirişler</h2>
            <div class="notifications__center">
                <div class="notifications__boxes">
                    <% notifications.forEach(item => { %>
                        <div class="notifications__box">
                            <div class="notifications__desc"><%= item.message %></div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <a href="/main" class="notifications__prev">Yza dolan</a>
        </div>
    </div>
</body>

</html>