<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Ulanyjy</title>
</head>

<body>
    <div class="wrapper">
        <div class="profile">
            <div class="profile__nav">
                <a href="/settings" class="profile__settings">
                    <img src="/img/settings 1.png">
                </a>
            </div>
            <div class="profile__modal">
                <form class="modal__content animate" action="/edit/profile" method="post" enctype="multipart/form-data">
                    <div class="modal__img">
                        <span class="modal__close">&times;</span>
                        <img class="modal__avatar" src="/img/<%= user.image %>">
                    </div>
                    <div class="modal__container">
                        <input class="modal__input" type="file" accept="image/*" name="image">
                        <input class="modal__input" type="text" placeholder="Ulanyjy ady" name="username">
                        <input class="modal__input" type="text" placeholder="Telefon belgi" name="phone">
                        <input class="modal__input" type="email" placeholder="E-poçta" name="email">
                        <button class="modal__submit" type="submit">Düzet</button>
                    </div>
                </form>
            </div>
            <div class="profile__info">
                <div class="profile__img">
                    <img class="radius" src="/img/<%= user.image %>">
                    <div class="profile__edit">
                        <img class="edit" src="/img/pen 1.png">
                    </div>
                </div>
                <div class="profile__name">
                    <%= user.username %>
                </div>
            </div>
            <div class="profile__langs">
                <div class="profile__title">Öwrenýän dillerim</div>
                <div class="profile__langnames">
                    <% user.user_histories.forEach(item=> { %>
                        <% if (userPoint.languageId===item.languageId) { %>
                            <a href="/lang/change/<%= item.languageId %>" class="profile__lang active">
                                <%= item.language.name %>
                            </a>
                        <% } else { %>
                            <a href="/lang/change/<%= item.languageId %>" class="profile__lang">
                                <%= item.language.name %>
                            </a>
                        <% } %>
                    <% }) %>
                    <a href="/langs" class="profile__langadd">+</a>
                </div>
            </div>
            <div class="level__container">
                <% levels.forEach(item=> { %>
                    <div class="level item">
                        <%= item.name %> ----- <%= item.point %> ball
                    </div>
                    <% }) %>
            </div>
            <div class="profile__statistics">
                <div class="profile__point">
                    <div class="__profile_title">Ligadaky orny:</div>
                    <div class="__profile_point">
                        <%= rating %>
                    </div>
                </div>
                <div class="profile__point">
                    <div class="__profile_title">Umumy ball:</div>
                    <div class="__profile_point">
                        <%= userPoint.point %>
                    </div>
                    <div class="__profile_point"></div>
                </div>
                <div class="profile__point">
                    <div class="__profile_title">Derejesi:</div>
                    <div class="__profile_point">
                        <%= userPoint.level.name %>
                    </div>
                </div>
            </div>
            <a href="/logout" class="profile__logout">Hasapdan çykmak</a>
            <a href="/main" class="profile__prev">Yza dolan</a>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>