<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ratings.css">
    <title>Reýtingler</title>
</head>

<body>
    <div class="wrapper">
        <div class="ratings">
            <h2 class="ratings__title">Oýunçylar reýtingi</h2>
            <div class="ratings__logo">
                <img src="/img/rating 1.png">
            </div>
            <div class="ratings__list">
                <% let count = 0 %>
                <% ratings.forEach(item => { %>
                    <a href="#" title="<%= item.point %>" class="ratings__item">
                        <div class="ratings__number"><%= count += 1 %></div>
                        <div class="ratings__profile">
                            <img class="radius" src="/img/<%= item.user.image %>">
                        </div>
                        <div class="ratings__username"><%= item.user.username %></div>
                        <p class="rating_point">- <%= item.point %></p>
                    </a>
                <% }) %>
            </div>
            <a href="/main" class="ratings__prev">Yza dolan</a>
        </div>
    </div>
</body>

</html>