<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/register.css">
    <title>Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="register">
            <div class="register__center">
                <div class="register__title">Dilçi</div>
                <form class="register__form" action="/register" method="post">
                    <input class="register__input" type="text" name="username" placeholder="Ulanyjy adyňyz">
                    <input class="register__input" type="email" name="email" placeholder="E-poçta salgyňyz">
                    <input class="register__input" type="text" name="phone" placeholder="Telefon belgiňiz">
                    <input class="register__input" type="password" name="password" placeholder="Parolyňyz">
                    <button class="register__submit" type="submit">Agza boluň!</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>