<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/result.css">
    <title>Ýaryşyň netijeleri</title>
</head>

<body>
    <div class="wrapper">
        <div class="result">
            <div class="result__title">Ýaryşyň netijeleri:</div>
            <div class="result__first">
                <div class="result__gamer"><%= results[0].user.username %></div>
                <div class="result__boxes">
                    <% results.forEach((item) => { %>
                        <div class="resul__box <%= item.status %>"></div>
                    <% }) %>
                </div>
                <div class="result__point"><%= point %> ball</div>
            </div>
            <a href="/main" class="result__prev">Yza dolan</a>
        </div>
    </div>
</body>

</html>