<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/settings.css">
    <title>Sazlamalar</title>
</head>

<body>
    <div class="wrapper">
        <div class="settings">
            <h2 class="settings__title">Sazlamalar</h2>
            <div class="settings__center">
                <div class="settings__list">
                    <a href="/langs" class="settings__item">
                        <div class="settings__icon">
                            <img src="/img/world-wide-web.png">
                        </div>
                        <div class="settings__name">
                            Diller
                        </div>
                    </a>
                    <a href="/ratings" class="settings__item">
                        <div class="settings__icon">
                            <img src="/img/report.png">
                        </div>
                        <div class="settings__name">
                            Reýtingler
                        </div>
                    </a>
                    <a href="/tobuy" class="settings__item">
                        <div class="settings__icon">
                            <img src="/img/add-to-cart.png">
                        </div>
                        <div class="settings__name">
                            Satyn almak
                        </div>
                    </a>
                    <a href="/contact" class="settings__item">
                        <div class="settings__icon">
                            <img src="/img/email 1.png">
                        </div>
                        <div class="settings__name">
                            Habarlaşmak
                        </div>
                    </a>
                </div>
            </div>
            <a href="/main" class="settings__prev">Yza dolan</a>
        </div>
    </div>
</body>

</html>