<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/tobuy.css">
    <title>Satyn almak</title>
</head>

<body>
    <div class="wrapper">
        <div class="tobuy">
            <h2 class="tobuy__title">Satyn almak</h2>
            <div class="tobuy__list">
                <a href="#" class="tobuy__item">
                    <div class="tobuy__name">
                        1. Elementary
                    </div>
                    <div class="tobuy__price">
                        2 TMT
                    </div>
                </a>
                <a href="#" class="tobuy__item">
                    <div class="tobuy__name">
                        2. Intermediate
                    </div>
                    <div class="tobuy__price">
                        4 TMT
                    </div>
                </a>
                <a href="#" class="tobuy__item">
                    <div class="tobuy__name">
                        3. Upper
                    </div>
                    <div class="tobuy__price">
                        6 TMT
                    </div>
                </a>
                <a href="#" class="tobuy__item">
                    <div class="tobuy__name">
                        1. Advanced
                    </div>
                    <div class="tobuy__price">
                        10 TMT
                    </div>
                </a>
            </div>
            <a href="/main" class="tobuy__prev">Yza dolan</a>
        </div>
    </div>
</body>

</html>