<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/words.css">
    <title>Öwrenmeli sözleriňiz</title>
</head>

<body>
    <div class="wrapper">
        <div class="words">
            <a href="/main" class="words__cancel">
                <img src="/img/cancel logo.png">
            </a>
            <div class="words__title">Öwrenmeli sözleriňiz</div>
            <ol class="words__list">
                <% words.forEach(item => { %>
                    <li class="words__item">
                        <%= item.word %> - <%= item.transcription %> - <%= item.turkmen_word.word %>
                    </li>
                <% }) %>
            </ol>
            <a href="/game/begin/q?page=1" class="words__link">Başla</a>
        </div>
    </div>
    <script src="/js/words.js"></script>
</body>

</html>