::-webkit-input-placeholder {
    color: rgb(172, 172, 172);
}

.admin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Admin navigation */

.admin__nav {
    width: 100%;
    display: flex;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #fff;
}

.admin__left {
    display: flex;
    align-items: center;
}

.admin__title {
    margin: 0 20px;
    color: #39c408;
    font-family: "Baloo 2";
    text-transform: uppercase;
    font-size: 60px;
}

.admin__burger {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 60px;
}

.admin__center {
    margin: 0 15px;
    position: relative;
}

.admin__search {
    outline: none;
    color: #fff;
    border: 5px solid #fff;
    background: rgba(0, 0, 0, 0);
    width: 800px;
    height: 65px;
    font-size: 40px;
    border-radius: 50px;
    padding: 0 70px 0 30px;
    font-family: "Baloo 2";
}

.admin__search-icon {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 40px;
    height: 40px;
}

.admin__profile {
    display: flex;
    align-items: center;
}

.admin__profile-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.admin__name {
    color: #fff;
    text-transform: uppercase;
    font-family: "Baloo 2";
    font-size: 40px;
}

/* Admin sidebar */

.admin__container {
    width: 100%;
    display: flex;
}

.admin__sidebar {
    min-width: 380px;
    min-height: 100vh;
    background-color: rgb(44, 43, 43);
}

.admin__list {
    width: 100%;
    padding: 20px 10px;
}

.admin__item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.item__img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.item__title {
    color: #fff;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 40px;
    transition: 0.3s;
}

.item__title:hover {
    color: #39c408;
}

/* Admin main */

.admin__main {
    flex: 1;
    background-color: rgb(75, 75, 75);
    padding: 40px 20px;
}

.admin__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.admin__box {
    width: 350px;
    height: 200px;
    margin: 0 20px;
    border-radius: 30px;
}

.box__top {
    width: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.box__img {
    width: 65px;
    height: 65px;
}

.box__number {
    color: #fff;
    font-family: "Baloo 2";
    font-size: 46px;
}

.box__title {
    color: #fff;
    font-family: "Baloo 2";
    text-align: center;
    font-size: 46px;
}

.red {
    background-color: #f44336;
}
.aqua {
    background-color: #2196f3;
}
.coral {
    background-color: #ff9800;
}

.admin__table-langs {
    width: 450px;
    height: 300px;
    margin: 0 20px;
    border-radius: 10px;
    background: #fff;
}

.admin__table-langs,
.admin__table-users,
.table__row {
    border: 2px solid rgb(75, 75, 75);
    border-collapse: collapse;
}

.table__desc {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: "Baloo 2";
    font-size: 32px;
}

.admin__statistic {
    width: 500px;
    height: 316px;
    margin: 0 20px;
    border-radius: 10px;
    background: #fff;
}

.admin__table-users {
    width: 100%;
    min-height: 300px;
    margin: 0 20px;
    border-radius: 10px;
    background: #fff;
}

.true {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #39C408;
}

.false {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f44336;
}

.table__img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}