::-webkit-input-placeholder {
    color: rgb(172, 172, 172);
}

.admin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Admin navigation */

.admin__nav {
    width: 100%;
    display: flex;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #fff;
}

.admin__left {
    display: flex;
    align-items: center;
}

.admin__title {
    margin: 0 20px;
    color: #39c408;
    font-family: "Baloo 2";
    text-transform: uppercase;
    font-size: 60px;
}

.admin__burger {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 60px;
}

.admin__center {
    margin: 0 15px;
    position: relative;
}

.admin__search {
    outline: none;
    color: #fff;
    border: 5px solid #fff;
    background: rgba(0, 0, 0, 0);
    width: 800px;
    height: 65px;
    font-size: 40px;
    border-radius: 50px;
    padding: 0 70px 0 30px;
    font-family: "Baloo 2";
}

.admin__search-icon {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 40px;
    height: 40px;
}

.admin__profile {
    display: flex;
    align-items: center;
}

.admin__profile-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.admin__name {
    color: #fff;
    text-transform: uppercase;
    font-family: "Baloo 2";
    font-size: 40px;
}

/* Admin sidebar */

.admin__container {
    width: 100%;
    display: flex;
}

.admin__sidebar {
    min-width: 380px;
    min-height: 100vh;
    background-color: rgb(44, 43, 43);
}

.admin__list {
    width: 100%;
    padding: 20px 10px;
}

.admin__item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.item__img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.item__title {
    color: #fff;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 40px;
    transition: 0.3s;
}

.item__title:hover {
    color: #39c408;
}

/* Admin Main */

.admin__main {
    flex: 1;
    background-color: rgb(75, 75, 75);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.admin__boxes {
    width: 100%;
    min-height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.admin__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    width: 450px;
    max-height: 400px;
}

.box__table {
    width: 100%;
    max-height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
}

.admin__table {
    padding: 10px;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
}

.table__row {
    height: 60px;
}

.table__icon {
    margin: 0 auto;
    width: 60px;
    height: 50px;
}

.table__desc {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: "Baloo 2";
    font-size: 32px;
}

.admin__form {
    width: 100%;
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin__input {
    cursor: pointer;
    outline: none;
    font-family: "Baloo 2";
    color: rgb(75, 75, 75);
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 24px;
    margin: 10px 5px;
    width: 100%;
}

.admin__button {
    cursor: pointer;
    font-family: "Baloo 2";
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
}

.table__img {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

.admin__button-img {
    width: 15px;
    height: 15px;
}

.red {
    border: 4px solid #f44336;
}
.aqua {
    border: 4px solid #2196f3;
}
.coral {
    border: 4px solid #ff9800;
}
.green {
    border: 4px solid #39c408;
}

.admin__words {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.admin__table-users {
    width: 100%;
    margin: 0 20px;
    border-radius: 10px;
    background: #fff;
}

.table__desc {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: "Baloo 2";
    font-size: 32px;
}

.table__online {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.true {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #39c408;
}

.false {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f44336;
}