::-webkit-input-placeholder {
    color: rgb(172, 172, 172);
}

.admin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Admin navigation */

.admin__nav {
    width: 100%;
    display: flex;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #fff;
}

.admin__left {
    display: flex;
    align-items: center;
}

.admin__title {
    margin: 0 20px;
    color: #39c408;
    font-family: "Baloo 2";
    text-transform: uppercase;
    font-size: 60px;
}

.admin__burger {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 60px;
}

.admin__center {
    margin: 0 15px;
    position: relative;
}

.admin__search {
    outline: none;
    color: #fff;
    border: 5px solid #fff;
    background: rgba(0, 0, 0, 0);
    width: 800px;
    height: 65px;
    font-size: 40px;
    border-radius: 50px;
    padding: 0 70px 0 30px;
    font-family: "Baloo 2";
}

.admin__search-icon {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 40px;
    height: 40px;
}

.admin__profile {
    display: flex;
    align-items: center;
}

.admin__profile-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.admin__name {
    color: #fff;
    text-transform: uppercase;
    font-family: "Baloo 2";
    font-size: 40px;
}

/* Admin sidebar */

.admin__container {
    width: 100%;
    display: flex;
}

.admin__sidebar {
    min-width: 380px;
    min-height: 100vh;
    background-color: rgb(44, 43, 43);
}

.admin__list {
    width: 100%;
    padding: 20px 10px;
}

.admin__item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.item__img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.item__title {
    color: #fff;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 40px;
    transition: 0.3s;
}

.item__title:hover {
    color: #39c408;
}

/* Admin main */

.admin__main {
    flex: 1;
    background-color: rgb(75, 75, 75);
    padding: 40px 20px;
}

.admin__form {
    width: 90%;
    margin: 0 auto;
}

.admin__text {
    outline: none;
    background-color: #fff;
    border: 3px solid #39c408;
    border-radius: 10px;
    padding: 20px 30px;
    font-family: "Baloo 2";
    font-size: 32px;
}

.admin__buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.admin__button {
    cursor: pointer;
    outline: none;
    font-family: "Baloo 2";
    border: 3px solid #39c408;
    color: rgb(75, 75, 75);
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 24px;
    margin-right: 30px;
    width: 100%;
}