.contact {
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact__prev {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 40px;
    height: 40px;
}

.contact__title {
    margin: 50px 0;
    font-size: 48px;
    font-family: "Baloo 2";
    text-align: center;
    color: #39c408;
    margin-bottom: 60px;
}

.contact__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__input {
    outline: none;
    width: 346px;
    border-radius: 15px;
    border: 3px solid #39c408;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Baloo 2";
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
}

.contact__button {
    align-self: flex-end;
    cursor: pointer;
    outline: none;
    width: 150px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Baloo 2';
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 15px;
    border: 3px solid #39c408;
    background: #fff;
    margin-right: 10px;
}