.game {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.game__nav {
    width: 95%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.game__title {
    font-size: 52px;
    text-transform: uppercase;
    font-family: "Baloo 2";
    text-align: center;
    color: #39c408;
}

.game__time {
    color: #fff;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game__center {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game__word {
    margin-bottom: 40px;
    font-size: 40px;
    font-family: "Baloo 2";
    text-align: center;
    color: #fff;
}

.game__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.game__link {
    color: #fff;
    margin: 5px;
    padding: 5px 30px;
    border-radius: 20px;
    font-family: "Baloo 2";
    border: 5px solid #39c408;
    background: rgba(35, 134, 0, 0.4);
}

.game__next {
    color: #fff;
    width: fit-content;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 50px;
    font-family: "Baloo 2";
    border: 5px solid rgba(255, 255, 255, 0.8);
}