::-webkit-input-placeholder {
    color: #fff;
}

.login {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login__center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__title {
    margin: 30px 0;
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Baloo 2';
    text-align: center;
    color: #39C408;
}

.login__input {
    outline: none;
    margin-top: 30px;
    border: 5px solid #39C408;
    background-color: #23860066;
    color: #fff;
    width: 320px;
    padding: 13px 20px;
    border-radius: 20px;
    font-family: 'Baloo 2';
    font-size: 24px;
    opacity: 0.9;
}

.login__form {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.login__desc {
    font-family: 'Baloo 2';
    text-transform: uppercase;
    font-size: 17px;
    margin: 16px 0;
}

.login__link {
    color: #39C408;
}

.login__submit {
    cursor: pointer;
    outline: none;
    border: 5px solid #39C408;
    background-color: #23860066;
    color: #fff;
    width: fit-content;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Baloo 2';
    font-size: 24px;
    opacity: 0.9;
}