.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main__nav {
    width: 98%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.main__left {
    width: 50px;
}

.main__right {
    display: flex;
    align-items: center;
}

.main__notf {
    width: 40px;
    margin-right: 10px;
}

.main__settings {
    width: 40px;
}

.main__center {
    width: 100%;
    height: 500px;
}

.main__title {
    margin: 40px 0;
    font-size: 64px;
    text-transform: uppercase;
    font-family: "Baloo 2";
    text-align: center;
    color: #39c408;
}

.main__links {
    height: 350px;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main__link {
    padding: 15px 45px;
    color: #fff;
    font-family: 'Baloo 2';
    font-size: 24px;
    border-radius: 20px;
    border: 5px solid #39c408;
    background: rgba(35, 134, 0, 0.4);
}

.link__desc {
    margin: 15px 0;
    font-family: 'Baloo 2';
}