.notifications {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.notifications__title {
    margin: 50px 0;
    font-size: 48px;
    font-family: "Baloo 2";
    text-align: center;
    color: #39c408;
}

.notifications__center {
    width: 100%;
    margin: 50px 0;
    align-self: flex-start;
}

.notifications__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notifications__box {
    position: relative;
    width: 365px;
    margin: 10px 0;
    padding: 20px 10px;
    border-radius: 10px;
    border: 4px solid #39c408;
    background: rgba(35, 134, 0, 0.4);
}

.notifications__icon {
    position: absolute;
    height: 25px;
    width: 25px;
    top: -13px;
    right: -13px;
    border-radius: 50%;
    background-color: #000;
}

.notifications__desc {
    color: #fff;
    text-align: justify;
    font-family: 'Baloo 2';
    font-size: 20px;
}

.notifications__prev {
    width: fit-content;
    color: #fff;
    margin: 50px 0;
    padding: 10px 30px;
    border-radius: 50px;
    font-family: "Baloo 2";
    border: 5px solid rgba(255, 255, 255, 0.8);
}