.profile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile__nav {
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: flex-end;
}

.profile__settings {
    width: 40px;
    height: 40px;
}

.profile__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile__img {
    position: relative;
    margin: 15px 0;
    width: 140px;
    height: 140px;
}

.profile__edit {
    cursor: pointer;
    position: absolute;
    background: #80ff82;
    width: 40px;
    height: 40px;
    left: 105px;
    bottom: 0px;
    border-radius: 50%;
}

.edit {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 25px;
    width: 25px;
}

.profile__name {
    color: #fff;
    font-size: 48px;
    font-family: "Baloo 2";
    border-bottom: 3px solid #fff;
}

.profile__desc {
    border-radius: 20px;
    border: 4px solid #39c408;
    background: rgba(35, 134, 0, 0.4);
    color: #fff;
    text-align: justify;
    font-family: "Baloo 2";
    padding: 20px 10px;
    margin: 0 10px;
    font-size: 16px;
}

.profile__langs {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile__title {
    color: #39c408;
    text-align: justify;
    font-family: "Baloo 2";
    margin-bottom: 10px;
    font-size: 36px;
}

.profile__langnames {
    display: flex;
    align-items: center;
}

.profile__lang {
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 23px;
    margin: 0 5px;
    color: #fff;
    font-family: "Baloo 2";
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.profile__langadd {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Baloo 2";
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 3px dotted #238600;
}

.level__container {
    border: 3px solid #39c408;
    font-family: "Baloo 2";
    border-radius: 10px;
    margin: 30px 0;
    padding: 50px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile__statistics {
    display: flex;
    flex-direction: column;
}

.profile__point {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.__profile_title {
    color: #39c408;
    font-family: "Baloo 2";
    font-size: 24px;
}

.__profile_point {
    font-family: "Baloo 2";
    margin-left: 10px;
}

.profile__logout {
    color: #fff;
    font-size: 24px;
    margin-top: 40px;
    padding: 5px 25px;
    border-radius: 20px;
    font-family: "Baloo 2";
    border: 5px solid #39c408;
    background: rgba(35, 134, 0, 0.4);
}

.profile__prev {
    color: #fff;
    width: fit-content;
    margin: 45px 0;
    padding: 10px 30px;
    border-radius: 50px;
    font-family: "Baloo 2";
    border: 5px solid rgba(255, 255, 255, 0.8);
}

.active {
    border: 4px solid #39c408;
}

/* Modal */

.profile__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal__content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
}

.modal__img {
    margin: 24px 0 12px 0;
    text-align: center;
    position: relative;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
    color: red;
    cursor: pointer;
}

.modal__avatar {
    max-width: 25%;
}

.modal__container {
    padding: 16px;
}

.modal__input {
    color: rgb(150, 150, 150);
    width: 100%;
    margin: 8px 0;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal__submit {
    background-color: #04aa6d;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal__submit:hover {
    opacity: 0.8;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

input[type="file"]::file-selector-button {
    background: #04aa6d;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

input[type="file"]::file-selector-button:hover {
    opacity: 0.8;
}