.ratings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ratings__title {
    margin-top: 20px;
    font-size: 42px;
    font-family: "Baloo 2";
    text-align: center;
    color: #39c408;
}

.ratings__logo {
    margin: 30px 0;
    width: 190px;
    height: 95px;
}

.ratings__list {
    margin: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ratings__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin: 10px 20px;
}

.rating_point {
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Baloo 2';
    color: #fff;
}

.ratings__number {
    color: #fff;
    font-family: "Baloo 2";
    font-size: 24px;
}

.ratings__profile {
    margin: 0 20px;
    width: 44px;
    height: 44px;
}

.ratings__username {
    color: #fff;
    font-family: 'Baloo 2';
    font-size: 24px;
}

.ratings__prev {
    width: fit-content;
    color: #fff;
    margin: 50px 0;
    padding: 10px 30px;
    border-radius: 50px;
    font-family: "Baloo 2";
    border: 5px solid rgba(255, 255, 255, 0.8);
}