.result {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.result__title {
    color: #39c408;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 30px;
    margin: 45px 0;
}

.result__gamer {
    color: #fff;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 32px;
    margin: 30px;
}

.result__first {
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result__boxes {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.resul__box {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.true {
    background: #39c408;
}
.false {
    background-color: #d30019;
}
.unanswered {
    background-color: #d9d9d9;
}

.result__review {
    color: #fff;
    font-size: 24px;
    margin: 35px;
    padding: 5px 25px;
    border-radius: 15px;
    font-family: "Baloo 2";
    border: 5px solid #39c408;
    background: rgba(35, 134, 0, 0.4);
}

.result__point {
    margin-top: 100px;
    font-size: 32px;
    font-family: "Baloo 2";
}

.result__line {
    width: 100%;
    height: 5px;
    background-color: #39c408;
}

.result__second {
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result__prev {
    color: #fff;
    width: fit-content;
    padding: 10px 30px;
    margin: 50px 0;
    border-radius: 50px;
    font-family: "Baloo 2";
    border: 5px solid rgba(255, 255, 255, 0.8);
}