.settings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.settings__title {
    margin: 50px 0;
    font-size: 48px;
    font-family: "Baloo 2";
    text-align: center;
    color: #39c408;
}

.settings__center {
    margin: 50px 0;
}

.settings__list {
    display: flex;
    flex-direction: column;
}

.settings__item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.settings__icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.settings__name {
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
    font-family: 'Baloo 2';
}

.settings__prev {
    color: #fff;
    width: fit-content;
    padding: 10px 30px;
    margin: 50px 0;
    border-radius: 50px;
    font-family: "Baloo 2";
    border: 5px solid rgba(255, 255, 255, 0.8);
}