.signin {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.signin__center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signin__title {
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Baloo 2';
    text-align: center;
    color: #39C408;
}

.signin__logo {
    width: 250px;
    height: 90px;
}

.sigin__desc {
    font-size: 22px;
    opacity: 0.9;
    margin: 10px 0;
    font-family: 'Baloo 2';
}

.siginin__button {
    text-align: center;
    border: 5px solid #39C408;
    background-color: #23860066;
    color: #fff;
    margin-top: 137px;
    width: 320px;
    padding: 6px 20px;
    border-radius: 40px;
    font-family: 'Baloo 2';
    font-size: 28px;
    opacity: 0.9;
}