@font-face {
    font-family: 'Baloo 2';
    src: url('../fonts/baloo2/Baloo2-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    color: #ffffff;
    background-color: #2d2e2e;
}

.radius {
    border-radius: 50%;
}