.tobuy {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tobuy__title {
    margin: 50px 0;
    font-size: 48px;
    font-family: "Baloo 2";
    text-align: center;
    color: #39c408;
    margin-bottom: 100px;
}

.tobuy__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tobuy__item {
    width: 350px;
    height: 54px;
    border-radius: 30px;
    border: 3px solid #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tobuy__name {
    color: #fff;
    font-family: 'Baloo 2';
    font-size: 28px;
}

.tobuy__price {
    color: #fff;
    font-family: 'Baloo 2';
    font-size: 28px;
}

.tobuy__prev {
    color: #fff;
    width: fit-content;
    padding: 10px 30px;
    margin: 50px 0;
    border-radius: 50px;
    font-family: "Baloo 2";
    border: 5px solid rgba(255, 255, 255, 0.8);
}
