li {
    list-style: decimal !important;
}

.words {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.words__cancel {
    width: 35px;
    margin: 40px;
    align-self: start;
}

.words__title {
    color: #39c408;
    text-align: center;
    font-family: "Baloo 2";
    margin-bottom: 30px;
    font-size: 30px;
}

.words__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.words__item {
    margin: 10px 0;
    color: #fff;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 20px;
}

.words__link {
    color: #fff;
    font-size: 24px;
    margin-top: 35px;
    padding: 5px 25px;
    border-radius: 15px;
    font-family: "Baloo 2";
    border: 5px solid #39c408;
    background: rgba(35, 134, 0, 0.4);
}